<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email"%>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
  </div>

  <div class="field">
    <%= f.label "Birthday" %>
    <%= f.date_field :birthday, autocomplete: "off", placeholder: "Birthday" %>
  </div>

  <div class="field">
    <%= f.label "Gender" %>
    <%= f.select :gender, [['Female', 'female'], ['Male', 'male']] %>
  </div>

  <div class="actions">
    <%= f.submit "Next" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
